@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .listings li {
    @apply mt-4;
  }
  .cards {
    @apply w-auto p-2 bg-gray-400 dark:bg-gray-700 text-xs text-white regular-font rounded-sm mr-4;
  }
  .blanks {
    @apply bg-indigo-600 p-2 shadow-md mt-8 text-white text-sm rounded-sm regular-font w-32 flex flex-row justify-center;
  }
}

@font-face {
  font-family: "TomatoGrotesk";
  src: local("TomatoGrotesk"),
    url("./assets/fonts/TomatoGrotesk-Regular.otf") format("truetype");
  /* font-weight: bold; */
}

@font-face {
  font-family: "TomatoGrotesk";
  src: local("TomatoGrotesk"),
    url("./assets/fonts/TomatoGrotesk-Bold.otf") format("truetype");
  font-weight: bold;
}

.regular-font {
  font-family: TomatoGrotesk;
}

.bold-font {
  font-family: TomatoGrotesk;
  font-weight: bold;
}

.actual-font {
  font-family: "DM Sans", sans-serif;
}
